<!-- FOOTER -->

<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__contact-register">
        <p><a href="mailto:firetour25@gmail.com">firetour25@gmail.com</a></p>
        <p><a href="https://konferenciaohna.sk" target="_blank">konferenciaohna.sk</a></p>

        <p class="footer__register-cta">
          Registruj sa ešte dnes na:<br>
          <a href="/registracia/" class="footer__register-link">konferenciaohna.sk/registracia</a>
        </p>
      </div>

      <div class="footer__social">
        <p>Sleduj nás na sociálnych sieťach, aby ti neušli novinky!</p>
      </div>

      <p class="footer__text">
        Revival Ministries International<br><br>
        Kresťanské spoločenstvo Bratislava 2025
      </p>

    </div>
  </div>
</footer>