<header class="header">
  <div class="container">
    <div class="header__inner">
      
      <a href="/" class="header__logo">
        <img alt="Patrik Paleček" width="120" height="auto" src="/images/brand/logo-patrik-palecek.svg" />
      </a>

      {# Desktop Navigácia #}
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__item"><a href="#zameranie" class="header__link">ZAMERANIE</a></li>
          <li class="header__item"><a href="#o-mne" class="header__link">O MNE</a></li>
          <li class="header__item"><a href="#kariera" class="header__link">KARIÉRA</a></li>
          <li class="header__item"><a href="#kontakt" class="header__link">KONTAKT</a></li>
        </ul>
        <a href="https://www.linkedin.com/in/patrik-palecek/" class="header__social" target="_blank" aria-label="LinkedIn">
          <img src="/images/icons/linkedin.svg" width="24" height="24" alt="LinkedIn" class="icon">
        </a>
      </nav>

      {# Mobile Trigger (viditeľný len na mobile/tablete) #}
      <div class="header__mobile-tools">
        <button class="header__trigger">
          <span>MENU</span>
          <img src="/images/icons/menu.svg" width="24" height="24" alt="Otvoriť menu" class="icon">
        </button>
        <a href="https://www.linkedin.com/in/patrik-palecek/" class="header__social-mobile" target="_blank">
           <img src="/images/icons/linkedin.svg" width="24" height="24" alt="LinkedIn" class="icon">
        </a>
      </div>

    </div>
  </div>
</header>

{# Mobilné Fullscreen Menu (stave pre "is-open") #}
<div class="mobile-menu">
  <div class="mobile-menu__header">
    <button class="mobile-menu__close">
      ZAVRIEŤ <img src="/images/icons/close.svg" width="24" height="24" alt="Zavrieť menu" class="icon">
    </button>
  </div>
  <nav class="mobile-menu__nav">
    <a href="#zameranie" class="mobile-menu__link">ZAMERANIE</a>
    <a href="#o-mne" class="mobile-menu__link">O MNE</a>
    <a href="#kariera" class="mobile-menu__link">KARIÉRA</a>
    <a href="#kontakt" class="mobile-menu__link">KONTAKT</a>
  </nav>
  <div class="mobile-menu__footer">
    <a target="_blank" href="https://www.linkedin.com/in/patrik-palecek/" class="mobile-menu__logo-box">
      Patrik Paleček <img src="/images/icons/linkedin.svg" width="24" height="24" alt="LinkedIn" class="icon">
    </a>
  </div>
</div>