<section class="about" id="o-mne">
  <div class="about__hero-wrapper">
    <div class="container">
      <div class="about__hero">
        <div class="about__image-main about__image-main--desktop">
          <img src="/images/patrik-sitting.jpg" alt="Patrik Paleček">
        </div>
        
        <div class="about__content">
          <div class="tag-label">O MNE</div>
          <h2 class="about__title">Môj príbeh</h2>
          <div class="about__description">
            <p>Pôsobil som na kľúčových pozíciách ako <strong>Finančný riaditeľ (CFO)</strong> a člen manažmentu, pričom som sa venoval akvizíciám a fúziám (M&A) v realitnom aj nerealitnom odvetví. Úspešne som riadil významné transakcie na strane predávajúceho aj kupujúceho – v rokoch <strong>2022 až 2024</strong> presiahla celková hodnota týchto transakcií <strong>60 miliónov eur.</strong></p>
            
            <div class="about__image-main about__image-main--mobile">
              <img src="/images/patrik-sitting.jpg" alt="Patrik Paleček">
            </div>

            <p class="about__intro-small">Dnes prinášam svoje expertízne znalosti do dynamických oblastí:</p>
            
            <ul class="about__list">
              <li>Finančné riadenie spoločností, ktoré dodávajú riešenia v automatizácii a robotike.</li>
              <li>Strategické poradenstvo v oblasti cash flow a investícií pre holdingové spoločnosti.</li>
              <li>Finančný dohľad ako poradca v developerských spoločnostiach.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about__footer">
      <div class="about__footer-text">
        <p>Moja kariéra v <strong>medzinárodných korporáciách</strong> a skúsenosti <strong>s lokálnymi podnikateľmi</strong> mi dovolili vidieť dva odlišné svety. Preto ich viem úspešne spájať a pomáhať spoločnostiam rásť prostredníctvom správneho riadenia financií a identifikácie kľúčových procesov na zlepšenie.</p>
        <p>Som vďačný za skúsenosti, ktoré som získal, a za možnosť spolupracovať <strong>s množstvom skvelých ľudí</strong>, pričom mnohé profesionálne vzťahy prerástli do trvalých priateľstiev.</p>
      </div>
      
      <div class="about__image-tilt">
        <img src="/images/patrik-portrait.jpg" alt="Patrik Paleček portrét">
      </div>
    </div>
  </div>
</section>