<section class="career" id="kariera">
  <div class="container">
    <h2 class="career__title">Kariérna cesta</h2>
    
    <div class="tag-label">
      REFERENCIE
    </div>

    <div class="career__grid">
      {# Logo 1 #}
      <a href="https://www.pmi.com/" class="career__item" target="_blank" rel="noopener">
        <img src="/images/logos/pmi.svg" alt="Philip Morris International">
      </a>
      {# Logo 2 #}
      <a href="https://www.reinoo.com/" class="career__item" target="_blank" rel="noopener">
        <img src="/images/logos/reinoo.svg" alt="Reinoo">
      </a>
      {# Logo 3 #}
      <a href="https://www.mktech.sk/" class="career__item" target="_blank" rel="noopener">
        <img src="/images/logos/mktech.svg" alt="MK Tech">
      </a>
      {# Logo 4 - na desktope širšie #}
      <a href="https://www.goodrequest.com/" class="career__item career__item--wide"  target="_blank" rel="noopener">>
        <img src="/images/logos/goodrequest.svg" alt="GoodRequest">
      </a>
      {# Logo 5 - na desktope širšie #}
      <a href="https://www.ngaviation.eu/" class="career__item career__item--wide" target="_blank" rel="noopener">
        <img src="/images/logos/ngaviation.svg" alt="NG Aviation">
      </a>
    </div>

    <a href="https://www.linkedin.com/in/patrik-palecek/" class="career__cta" target="_blank">
      Viac nájdeš na mojom Linkedin 
      <img width="24" height="24" src="/images/icons/linkedin.svg" alt="Linkedin ikona" class="btn__icon">
    </a>
  </div>
</section>