<section class="hero" id="zameranie">
  <div class="hero__bg-layer">
    <div class="container">
      <div class="hero__title hero__title--bg">
        <span class="hero__title-first">Patrik</span>
      </div>
    </div>
  </div>

  <div class="hero__image-wrapper"></div>

  <div class="container hero__container">
    <div class="hero__top-list">
      <ul class="hero__points">
        <li>Strategické riadenie financií</li>
        <li>Vedenie kľúčových projektov</li>
        <li>Optimalizácia firemných procesov</li>
      </ul>
    </div>

    <div class="hero__main">
      <h1 class="hero__title">
        <span class="hero__title-first" style="visibility: hidden;">Patrik</span>
        <span class="hero__title-last">Paleček</span>
      </h1>
    </div>

    <div class="hero__bottom">
      <div class="hero__experience">
        <div class="hero__experience-label">20+ rokov skúseností</div>
        <p class="hero__experience-text">V manažmente spoločností, zlepšovaní procesov a budovaní tímov</p>
      </div>
      <div class="hero__scroll">
        <img src="/images/icons/scroll.svg" alt="Scroll">
      </div>
    </div>
  </div>
</section>