@use '../variables' as *;
@use '../mixins' as *;

/*-----------------------------------------------------------*/
/* COOKIE BANNER                                           */
/*-----------------------------------------------------------*/
