---
title: 404 | Patrik Paleček | Expert na strategické riadenie financií a M&A
id: message
subtitle: Skúsený finančný riaditeľ s 20+ rokmi praxe. Špecialista na optimalizáciu procesov, riadenie cash flow a kľúčové M&A transakcie v hodnote miliónov eur.
layout: layouts/base.njk
index: false
---

