---
title: Konferencia ohňa - Rodney Howard Browne - Slovensko 2025
id: sk
subtitle: Zaži Boží dotyk na kresťanskej konferencii ohňa v Bratislave! Dr. Rodney Howard-Browne prichádza na Slovensko – 14.–15. novembra 2025. Registruj sa na konferenciaohna.sk
layout: layouts/base.njk
---


{% include "components/hero.njk" %}
{% include "components/values.njk" %}
{% include "components/about.njk" %}
{% include "components/career.njk" %}
{% include "components/contact.njk" %}

{% include "components/cookies.njk" %}