---
title: Patrik Paleček | Expert na strategické riadenie financií a M&A
id: sk
subtitle: Skúsený finančný riaditeľ s 20+ rokmi praxe. Špecialista na optimalizáciu procesov, riadenie cash flow a kľúčové M&A transakcie v hodnote miliónov eur.
layout: layouts/base.njk
---


{% include "components/hero.njk" %}
{% include "components/values.njk" %}
{% include "components/about.njk" %}
{% include "components/career.njk" %}
{% include "components/contact.njk" %}
